name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: Go ${{ matrix.go-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - '1.20.x'
          - '1.21.x'
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run Tests
        run: |
          go test -cover ./...
        shell: bash

  formatting:
    name: Go Format
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
    
      - name: Check formatting
        run: ./.gha.gofmt.sh
